
# Plotting configuration file.
# =====
# Please edit this file carefully!
# Default setting should work fine

# CPU (Set to yes or simply omit it)
CPU_ALL=yes
PCPU_ALL=yes
LPAR=yes
POOL=yes
PROC=yes

# Memory (Set to yes or simply omit it)
MEMNEW=yes
MEMUSE=yes
PAGE=yes

# Disk (Specify hdisk name or 'all' or 'top' for top 10 adapters)
DISKBUSY=top
DISKREAD=top
DISKWRITE=top
DISKREADSERV=top
DISKWRITESERV=top
DISKRIO=top
DISKWIO=top
DISKRXFER=top
DISKXFER=top
DISKWAIT=top
DISKBSIZE=top

# FC adapter (Specify FC adapter name or 'all')
FCREAD=all
FCWRITE=all
FCXFERIN=all
FCXFEROUT=all

# I/O adapter (Specify I/O adapter name or 'all')
IOADAPT_R=all
IOADAPT_W=all
IOADAPT_XFER=all

# Network (Specify network adapter name or 'all')
NET=all
NETPACKET=all
NETSIZE=all

